<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>shoppinglistAdministrationService</servlet-name>
    <servlet-class>de.hdm.softwarepraktikum.server.ShoppinglistAdministrationImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>shoppinglistAdministrationService</servlet-name>
    <url-pattern>/sw_praktikum_ss19_gruppe5/administration</url-pattern>
  </servlet-mapping>
  
  <servlet> 
  	<servlet-name>reportGenerator</servlet-name>
  	<servlet-class>de.hdm.softwarepraktikum.server.report.ReportGeneratorImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>reportGenerator</servlet-name>
  	<url-pattern>/reportgenerator/report</url-pattern>
  </servlet-mapping>
  
  <servlet> 
  	<servlet-name>loginService</servlet-name>
  	<servlet-class>de.hdm.softwarepraktikum.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>loginService</servlet-name>
  	<url-pattern>/sw_praktikum_ss19_gruppe5/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>loginService</servlet-name>
  	<url-pattern>/reportgenerator/login</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SW_Praktikum_SS19_Gruppe5.html</welcome-file>
    <welcome-file>ReportGenerator.html</welcome-file>
  </welcome-file-list>
  


</web-app>
