.cellTableHeader {
	padding: 4px;
	color: black;
	text-align: center;
	font-size: 16px;
	background-image: none;
	background-color: silver;
	height: 25px;
	vertical-align: middle;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.cellTableFirstColumnHeader {
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
}

.cellTableLastColumnHeader {
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

.cellTableCell {
	padding: 4px;
	overflow: hidden;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid white;
}

.cellTableEvenRow {
	background-color: white;
	color: #454545;
}

.cellTableOddRow {
	background-color: lightgrey;
	color: #454545;
}

.cellTableSelectedRow {
}

.cellTableSelectedRowCell {
}

.cellTableHoveredRow {
}

.cellTableHoveredRowCell {
	padding: 4px;
	overflow: hidden;
	font-size: 12px;
	color: #454545;
	font-family: 'Open Sans', sans-serif;
	background-color: steelblue;
	color: black;
}

.cellTableKeyboardSelectedRow {
	background-color: skyblue;
}

.cellTableKeyboardSelectedRowCell {
	background-color: skyblue;
	overflow: hidden;
	font-size: 12px;
	color: black;
	font-family: 'Open Sans', sans-serif;
}