
div#reportMain{
	text-align: left;
	background: lightgreen;
	min-width: 800px;
	
}

div#reportWrapper{
	background: lightgreen;
	
}

div#reportAside{
	background: mediumseagreen;
	
}

div#reportHeader{
	background: purple;
	
}

div#reportTrailer{
	background: darksalmon;
	
}