
div#reportHeader{
	list-style: none;
	margin: 0;
	background: steelblue;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: flex-end;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

div#LoginHeader{
	list-style: none;
	margin: 0;
	background: steelblue;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: flex-end;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/* Um die Buttons im Header zu stylen. */
.HeaderButton {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 150%;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 10px 10px;
	min-height: 60px;
}

.HeaderButton:active {
	border: 0px inset #ccc;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
}

.HeaderButton:hover {
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	background-color: powderblue;
	
}

.LogoutButton{
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold; 
	font-size: 150%;
	background:transparent;
	border: 0px solid powderblue; 
}

.CurrentUser{
	color: white; 
	font-size: 100%;
	font-weight: bold;
	padding-top: 0px;
	text-align: center;
}

.HeaderPlatzhalterButton{
	padding: 5px;
	margin: 5px 10px;
	color: white;
	font-weight: normal;
	font-size: 350%;
	background: transparent;
	border: 0px solid white;
	border-radius: 5px;
}

@media all and (max-width: 800px) {
	div#header {
		justify-content: space-around;
	}
}

@media all and (max-width: 600px) {
	div#header {
		justify-content: space-around;
		webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		padding: 0;
	}
	.HeaderButton {
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		padding: 0;
		text-align: center;
		padding: 10px;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
}


div#reportMain{
	text-align: left;
	background: skyblue;
	min-height: 300px;
	min-width: 500px;	
}

.Title{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 175%;
	margin-top: 15px;
}

.Heading{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 100%;
	margin-top: 15px;
}

div#reportTrailer{
	background: steelblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.NavButton{
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-weight: bold;
	font-size: 100%;
	background: transparent;
	border: 1px solid black;
	border-radius: 4px;
	padding: 4px 8px;
}

.NavButton:hover {
	color: black;
	border: 1px solid black;
	border-radius: 4px;
	background-color: white;
	
}

.BackButton{
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-weight: bold;
	font-size: 100%;
	background: transparent;
	border: 1px solid black;
	border-radius: 4px;
	padding: 4px 8px;
	margin: 10px;
}

.BackButton:hover{
	color: black;
	border: 1px solid black;
	border-radius: 4px;
	background-color: white;
}

.TrailerButton {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 150%;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 10px 10px;
	min-height: 60px;
}

.TrailerButton:active {
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
}

.TrailerButton:hover {
	background-color: powderblue;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
}