
div#reportMain{
	background: midnightblue;
	
}

div#reportWrapper{
	background: lightgreen;
	
}

div#reportAside{
	background: mediumseagreen;
	
}

div#reportHeader{
	background: purple;
	
}

div#reportTrailer{
	background: darksalmon;
	
}