/* SW_Praktikum_SS19_Gruppe5.html: Navigationbar (header) */
div#header {
	list-style: none;
	margin: 0;
	background: teal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: flex-end;
}

.HeaderButton {
	color: white;
	border: 1px solid white;
	margin: 10px 10px;
	padding: 5px;
}

.HeaderPlatzhalterButton {
	padding: 5px;
	margin: 10px 10px;
	color: white;
	font-weight: bold;
	font-size: 150%;
	background: transparent;
	border: 0px solid white;
	border-radius: 5px;
}

@media all and (max-width: 800px) {
	div#header {
		justify-content: space-around;
	}
}

@media all and (max-width: 600px) {
	div#header {
		justify-content: space-around;
		webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		padding: 0;
	}
	.HeaderButton {
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		padding: 0;
		text-align: center;
		padding: 10px;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
}

/* SW_Praktikum_SS19_Gruppe5.html: Elemente in wrapper (footer, main, aside) */
div#wrapper {
	display: flex;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
}

div#wrapper>* {
	padding: 10px;
	flex: 1 100%;
}

div#trailer {
	background: teal;
}

div#main {
	text-align: left;
	background: powderblue;
	min-width: 800px;
}

div#aside {
	background: powderblue;
	border-color: white;
	border-width: 2px;
	border-style: solid;
}

@media all and (min-width: 600px) {
	div#aside {
		flex: 1 auto;
	}
}

@media all and (min-width: 1000px) {
	div#main {
		flex: 3 0px;
	}
	div#aside {
		order: 1;
	}
	div#main {
		order: 2;
	}
}

body {
	padding: 2em;
}

div#container {
	
}

div#trailer {
	padding: 20px;
}

/* ShoppinglistEditorEntry.java: */
.HeaderButton {
	color: white;
	font-weight: bold;
	font-size: 150%;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px 10px;
}

.HeaderButton:active {
	border: 0px inset #ccc;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
}

.HeaderButton:hover {
	background: skyblue;
	border-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
}
/* .HeaderButton3 {
	color: white;
	font-weight: bold;
	font-size: 150%;
	background: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 5px 10px;
	margin-left: 5px;
	
	border-top: 2px solid rgba(255, 255, 255, 0.3);
	border-bottom: 2px solid rgba(0, 0, 0, 0.1); 
}

.HeaderButton3:active {
	border: 0px inset #ccc;
	background: transparent;
	border: 0px solid white;
	border-radius: 5px;
}

.HeaderButton3:hover {
	background: skyblue;
	border-color: transparent;
	border: 0px solid white;
	border-radius: 5px;
} */
/* Trailer.java: */
.TrailerButton {
	color: white;
	font-weight: bold;
	font-size: 150%;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
	margin-right: 5px;
	margin-left: 5px;
	padding: 5px 10px;
}

.TrailerButton:active {
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
}

.TrailerButton:hover {
	background: skyblue;
	border-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
}

/* ShoppinglistHeader.java: */
.ShoppinglistHeaderButton {
	color: white;
	font-weight: bold;
	font-size: 150%;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
	margin-right: 5px;
	margin-left: 5px;
	padding: 5px 10px;
}

.ShoppinglistHeaderButton:active {
	background: transparent;
	border: 1px solid white;
	border-radius: 10px;
}

.ShoppinglistHeaderButton:hover {
	background: skyblue;
	border-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
}

.ListLabel {
	color: white;
	font-weight: bold;
	font-size: 150%;
	background: transparent;
	border: 0px solid white;
	border-radius: 5px;
	padding: 5px 10px;
}

/* ShoppinglistContent.java */
.shoppinglistSearchBar {
	border: 2px solid white;
	margin: 10px 10px;
	padding: 5px;
}

.shoppinglistCellTable {
	border: 2px solid gray;
	margin: 10px 10px;
}

/* ShoppinglistShowForm.java */
.shoppinglistContent {
	width: 90%;
	border: 2px solid white;
	margin: 10px 10px;
}

.shoppinglistHeader {
	border: 1px solid white;
	margin: 10px 10px;
	padding: 5px;
}

/* GroupShowForm.java */
.groupContent{
	width: 90%;
	border: 2px solid white;
	margin: 10px 1opx;
}

.groupHeader {
	border: 1px solid white;
	margin: 10px 10px;
	padding: 5px;
}

/* platzhalter.java */