/* SW_Praktikum_SS19_Gruppe5.html: Navigationbar (header) */
ul#header {
	list-style: none;
	margin: 0;
	background: deepskyblue;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: flex-end;
}

ul#header div#Report {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
}

ul#header div#Editor {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
}

ul#header div#Platzhalter {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
}

ul#header div#Logout {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
}

/* ul#navigation div#Report:hover {
  background: darken(deepskyblue, 2%);
}
ul#navigation div#Editor:hover {
  background: darken(deepskyblue, 2%);
}
ul#navigation div#Platzhalter:hover {
  background: darken(deepskyblue, 2%);
}
ul#navigation div#Logout:hover {
  background: darken(deepskyblue, 2%);
} */
@media all and (max-width: 800px) {
	ul#header {
		justify-content: space-around;
	}
}

@media all and (max-width: 600px) {
	ul#header {
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		padding: 0;
	}
	ul#header div#Report {
		text-align: center;
		padding: 10px;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	ul#header div#Editor {
		text-align: center;
		padding: 10px;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	ul#header div#Platzhalter {
		text-align: center;
		padding: 10px;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	ul#header div#Logout {
		text-align: center;
		padding: 10px;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
}

/* SW_Praktikum_SS19_Gruppe5.html: Elemente in wrapper (footer, main, aside) */
.wrapper {
	display: flex;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
}

.wrapper>* {
	padding: 10px;
	flex: 1 100%;
}

div#footer {
	background: tomato;
	background: deepskyblue;
}

div#main {
	text-align: left;
	background: lightgreen;
	min-width: 800px;
}

div#aside {
	background: gold;
}

@media all and (min-width: 600px) {
	div#aside {
		flex: 1 auto;
	}
}

@media all and (min-width: 1000px) {
	div#main {
		flex: 3 0px;
	}
	div#aside {
		order: 1;
	}
	div#main {
		order: 2;
	}
	div#footer {
		order: 3;
	}
}

body {
	padding: 2em;
}

/* ShoppinglistEditorEntry.java: */
.HeaderButton {
	color: white;
	font-weight: bold;
	font-size: 150%;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px 10px;
}

.HeaderButton:active {
	border: 0px inset #ccc;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
}

.HeaderButton:hover {
	background: skyblue;
	border-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
}
/* .HeaderButton3 {
	color: white;
	font-weight: bold;
	font-size: 150%;
	background: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 5px 10px;
	margin-left: 5px;
	
	border-top: 2px solid rgba(255, 255, 255, 0.3);
	border-bottom: 2px solid rgba(0, 0, 0, 0.1); 
}

.HeaderButton3:active {
	border: 0px inset #ccc;
	background: transparent;
	border: 0px solid white;
	border-radius: 5px;
}

.HeaderButton3:hover {
	background: skyblue;
	border-color: transparent;
	border: 0px solid white;
	border-radius: 5px;
} */
/* Trailer.java: */
.TrailerButton {
	color: white;
	font-weight: bold;
	font-size: 150%;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
	margin-right: 5px;
	margin-left: 5px;
	padding: 5px 10px;
}

.TrailerButton:active {
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
}

.TrailerButton:hover {
	background: skyblue;
	border-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
}

/* ShoppinglistHeader.java: */
.ShoppinglistHeaderButton {
	color: white;
	font-weight: bold;
	font-size: 150%;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
	margin-right: 5px;
	margin-left: 5px;
	padding: 5px 10px;
}

.ShoppinglistHeaderButton:active {
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
}

.ShoppinglistHeaderButton:hover {
	background: skyblue;
	border-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
}

.ausgewaehlteGruppeShoppinglistHeaderButton {
	color: white;
	font-weight: bold;
	font-size: 150%;
	background: transparent;
	border: 0px solid white;
	border-radius: 5px;
	padding: 5px 10px;
}

/* ShoppinglistContent.java */
.shoppinglistSearchBar {
	border: 2px solid white;
	margin: 10px 10px;
	padding: 5px;
}

.shoppinglistCellTable {
	border: 2px solid gray;
	margin: 10px 10px;
}

/* ShoppinglistShowForm.java */
.shoppinglistContent {
	width: 90%;
	border: 2px solid white;
	margin: 10px 10px;
}

.shoppinglistHeader {
	border: 1px solid white;
	margin: 10px 10px;
	padding: 5px;
}

/* platzhalter.java */