.Login{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 200%;
	margin-top: 15px;
	align: center;
}

.LoginLink{
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 150%;
	margin-top: 15px;
	justify-content: central;
}

/* SW_Praktikum_SS19_Gruppe5.html: Navigationbar (header) */
div#header {
	list-style: none;
	margin: 0;
	background: steelblue;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: flex-end;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

div#LoginHeader {
	list-style: none;
	margin: 0;
	background: steelblue;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: flex-start;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.HeaderPlatzhalterButton {
	padding: 5px;
	margin: 5px 10px;
	color: white;
	font-weight: normal;
	font-size: 350%;
	background: transparent;
	border: 0px solid white;
	border-radius: 5px;
}

.Name{
	color: white;
	font-family: 'Libre Barcode 128 Text', cursive;
	font-weight: normal;
	font-size: 550%;	
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 5px;  
}

/* SW_Praktikum_SS19_Gruppe5.html: Elemente in wrapper (footer, main, aside) */
div#wrapper {
	display: flex;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
}

div#wrapper>* {
	padding: 10px;
	flex: 1 100%;
}

div#trailer {
	background: steelblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}

div#main {
	text-align: left;
	background: skyblue;
	min-height: 300px;
	min-width: 500px;
}

div#aside {
	background: skyblue;
	
	border-right-width: 2px;
			
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: 2px;
	
	border-top-style: solid;
	border-top-color:white; 
	border-top-width: 2px;

}

.NormalButton{
	color: black;
	font-weight: bold;
	font-size: 50%;
	background: transparent;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 10px;
}

.NewGroupButton{
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-weight: bold;
	font-size: 130%;
	background: transparent;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 10px;
}

.NewGroupButton:hover{
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
}

.NavButton{
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-weight: bold;
	font-size: 100%;
	background: transparent;
	border: 1px solid black;
	border-radius: 4px;
	padding: 4px 8px;
}

.NavButton:hover {
	color: black;
	border: 1px solid black;
	border-radius: 4px;
	background-color: white;
	
}

.NavButton2{
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-weight: bold;
	font-size: 100%;
	background: transparent;
	border: 1px solid black;
	border-radius: 4px;
	padding: 4px 8px;
	margin-left: 5px; 
}

.NavButton2:hover {
	color: black;
	border: 1px solid black;
	border-radius: 4px;
	background-color: white;
	
}
.cellTree{
	color: black;
	font-weight: normal;
	font-size: 120%;
	font-family: 'Open Sans', sans-serif;
	
}
@media all and (min-width: 600px) {
	div#aside {
		flex: 1 auto;
	max-width: 100%;		
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: 2px;
	
	border-top-style: solid;
	border-top-color:white; 
	border-top-width: 2px;
	}
}

@media all and (min-width: 1000px) {
	div#main {
		flex: 3 0px;
	}
	div#aside {
		order: 1;
		max-width: 220px;
		border-right-style: solid;
		border-right-color: white;
		border-right-width: 2px;
		
			
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: 0px;
	
	border-top-style: solid;
	border-top-color:white; 
	border-top-width: 0px;
	}
	div#main {
		order: 2;
	}
}

body {
	padding: 2em;
}

div#container {
	
}

/* Um die Buttons im Header zu stylen. */
.HeaderButton {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 150%;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 10px 10px;
	min-height: 60px;
}

.HeaderButton:active {
	border: 0px inset #ccc;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
}

.HeaderButton:hover {
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	background-color: powderblue;
	
}

.LogoutButton{
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold; 
	font-size: 150%;
	background:transparent;
	border: 0px solid powderblue; 
}

.LogoutButton:active {
	background: transparent;
}

.LogoutButton:hover {
	color: white;
}

.CurrentUser{
	color: white; 
	font-size: 100%;
	font-weight: bold;
	padding-top: 0px;
	text-align: center;
}
/* .HeaderButton3 {
	color: white;
	font-weight: bold;
	font-size: 150%;
	background: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 5px 10px;
	margin-left: 5px;
	
	border-top: 2px solid rgba(255, 255, 255, 0.3);
	border-bottom: 2px solid rgba(0, 0, 0, 0.1); 
}

.HeaderButton3:active {
	border: 0px inset #ccc;
	background: transparent;
	border: 0px solid white;
	border-radius: 5px;
}

.HeaderButton3:hover {
	background: skyblue;
	border-color: transparent;
	border: 0px solid white;
	border-radius: 5px;
} */


/* Um die Buttons im Trailer zu stylen. */
.TrailerButton {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 150%;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 10px 10px;
	min-height: 60px;
}

.TrailerButton:active {
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
}

.TrailerButton:hover {
	background-color: powderblue;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
}

/* ShoppinglistHeader.java: */
.ShoppinglistHeaderButton {
	color: black;
	font-weight: bold;
	font-size: 150%;
	font-family: 'Open Sans', sans-serif;
	background: transparent;
	border: 1px solid black;
	border-radius: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 14px;
	margin-bottom: 14px;
	padding: 5px 10px;
}

.ShoppinglistHeaderButton:active {
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
}

.ShoppinglistHeaderButton:hover {
	background: white;
	border-color: transparent;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
}

/* Name der Shoppingliste */
.ListLabel {
	color: black;
	font-weight: bold;
	font-size: 175%;
	background: transparent;
	font-family: 'Open Sans', sans-serif;
	margin-right: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* ShoppinglistContent.java */
.shoppinglistSearchBar {
	border: 2px solid white;
	margin: 10px 10px;
	padding: 5px;
	max-width: 5em;
}

.shoppinglistCellTable {
	margin: 10px 10px;
	font-family: 'Open Sans', sans-serif;
}

/* ShoppinglistShowForm.java */
.shoppinglistContent {
	width: 90%;
	border: 5px solid red;
	margin: 10px 10px;
}

.shoppinglistHeader {
	border: 0px solid black;
	color: black;
	margin: 10px 10px;
	padding: 5px;
}

/* GroupShowForm.java */
.groupContent{
	width: 90%;
	border: 2px solid black;
	margin: 10px 1opx;
}

.groupHeader {
	border: 0px solid black;
	margin-right: 5px;
}

.GroupLabel{
	color: black;
	font-weight: bold;
	font-size: 175%;
	background: transparent;
	font-family: 'Open Sans', sans-serif;
	margin-right: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* ShoppinglistHeader.java: */
.GroupHeaderButton {
	color: black;
	font-weight: bold;
	font-size: 150%;
	background: transparent;
	border: 1px solid black;
	border-radius: 5px;
	margin-right: 5px;
	margin-left: 5px;
	padding: 5px 10px;
	margin-top: 14px;
	margin-bottom: 14px;
}

.GroupHeaderButton:active {
	background: transparent;
	border: 1px solid black;
	border-radius: 5px;
}

.GroupHeaderButton:hover {
	background: white;
	border-color: transparent;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
}


.Header{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 120%;
	margin-top: 10px;	
	margin-bottom: 10px; 
}

.Heading{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	
}

.TextBox{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 100%;
}

.FlexTable{
	background:transparent; 
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

.UserRetailerAll{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 120%;
	margin-top: 10px;	
}

.AllocationPanel{
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	margin-top: 10px
}

.ButtonPanel{
	margin-top: 10px;
}

.HeaderLabel{
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-top: 10px; 
}

.notificationLabel{
	color: white;
	float: left;
}

